@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;

  --color-primary: #f0b1cc;
  --color-secondary: #d3686c;
  --primaryDark: #540002;
  --fontColor: #333333;
}

body {
  background: rgb(var(--background-rgb));
}

.text-white-important {
  color: #ffffff !important;
}
.line-white {
  color: rgba(255, 255, 255, 0) !important;
}

.border-light {
  border-color: #ededed !important;
}
